!!! Strict
%html{html_attrs}
  %head
    %title
      = escape_once( yield(:title) || t('site.name') )
    %meta{"http-equiv" => "Content-Type",       :content => "text/html; charset=utf-8"}
    %meta{"http-equiv" => "Content-Style-Type", :content => "text/css"}
    %meta{:name => "google-site-verification",  :content => '_B_eX0OvlrUaUs4AbQySF89d48veMayRhOUwMUgXTN8'}
    = csrf_meta_tag
    = stylesheet_link_tag 'formtastic', 'formtastic_changes', 'form'

  %body
    = yield
